<% content_for :html_head do %>
  <style type="text/css"> 
     .myDiv { 
         border  : 1px solid #AAAAAA;  
         width   : 200px;  
         height  : 35px; 
         cursor  : pointer; 
         padding : 2px 2px 2px 2px; 
         margin  : 2px 2px 2px 2px;  
     }  
  </style> 
<% end %>

<div id='div1' class='myDiv'> </div> 
